:root {
--dark-puple-color: rgba(20, 16, 36, 1);
--white-color: #FFFFFF;
--red-color: rgba(213, 32, 39, 1);
--bloodly-red-color: #A51E23;
--scrollbar-grey-color: rgba(196, 196, 196, 1);
--bg-light-grey-color: rgba(246, 246, 246, 1);
--light-puple-color: #504091;
--header-button-color: rgba(255, 255, 255, 0.1);
--header-button-border-color: rgba(255, 255, 255, 0.3);
--text-line-height-160: 160%;
}